* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  padding: 20px;
  .navigation {
    display: flex;
    gap: 20px;
    margin-left: 40px;
    cursor: pointer;
  }
  .navigation-mobile {
    display: none;
  }
  .menuImage {
    display: none;
  }
  .bottonRegistration {
    display: flex;
    gap: 30px;
    margin-left: 40em;
    cursor: pointer;
  }
}
main {
  display: flex;
  margin-left: 9em;
  gap: 10em;
  margin-bottom: 40px;
  .sectionOne {
    gap: 20px;
    margin-top: 60px;
    .title {
      width: 330px;
    }
    .subtitle {
      margin-top: 20px;
      width: 300px;
      line-height: 1.5;
    }
    .button {
      margin-top: 18px;
      padding: 10px;
      border: 1px solid transparent;
      border-radius: 5px;
      cursor: pointer;
    }
    .footerImage {
      display: flex;
      gap: 30px;
      margin-top: 35px;
      .imageClient {
        width: 40px;
        height: auto;
      }
    }
  }
  .sectionTwo {
    .imagePrincipal {
      width: 285px;
      height: auto;
    }
  }
}
